<%- include("partials/header") -%>

    <div class="box" id="heading">
      <h1>Add a new task:</h1>
    </div>
    <div class="box">
        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list" value="<%= ListTitle %>">+</button>
        </form>
    </div>

<%- include("partials/footer") -%>
